
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/BootStrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/BootStrap/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/home.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/Content/JS/jquery-3.4.1.min.js"></script>
    <title>Victus</title>
    <script src="~/Content/JS/transition.js"></script>
</head>
<body>
    <div class="hero_index">
        <div class="hero_index_text">
            <h1> Victus </h1>
            <h2> Lorem ipsum dolor sit amet, ex his quot duis praesent. </h2>
        </div>
        @Html.ActionLink("Ingresar", "Login", "", new { @class = "hero_button transition" })
        <!-- ActionLink([Texto],[Nombre de Accion],[Enrutamiento, usualmente le damos null], [Parametros de HTML]) -->
        <!-- Aca le defino dos clases, tambien se le podria dar ID, Value, Name, lo que sea de HTML. -->
    </div>
</body>
</html>
