
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Mis Datos</title>
</head>
<body>
    <div class="box">
        <input type="text"> 
    </div>
</body>
</html>
