USE [master]
GO
/****** Object:  Database [Victus]    Script Date: 7/7/2019 1:59:21 AM ******/
CREATE DATABASE [Victus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Victus', FILENAME = N'C:\Bases de Datos\Victus\Data\Victus.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Victus_log', FILENAME = N'C:\Bases de Datos\Victus\Log\Victus_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Victus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Victus]
GO
USE [Victus]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 7/7/2019 1:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[CodigoDatos] [int] IDENTITY(1,1) NOT NULL,
	[Correo] [nvarchar](30) NOT NULL,
	[Peso] [float] NOT NULL,
	[Altura] [int] NOT NULL,
	[Edad] [int] NOT NULL,
	[IMC] [float] NOT NULL,
	[CantidadAgua] [int] NOT NULL,
	[FechaDatos] [datetime] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[CodigoDatos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dieta]    Script Date: 7/7/2019 1:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dieta](
	[CodigoDieta] [int] NOT NULL,
	[FechaDieta] [datetime] NOT NULL,
	[NumeroDieta] [int] NOT NULL,
	[CodigoHarris] [nvarchar](5) NOT NULL,
	[IMC] [decimal](2, 0) NOT NULL,
	[CodigoPlanNutricion] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_Dieta] PRIMARY KEY CLUSTERED 
(
	[CodigoDieta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 7/7/2019 1:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[Correo] [nvarchar](30) NOT NULL,
	[Cedula] [int] NOT NULL,
	[Nombre] [nvarchar](15) NOT NULL,
	[Apellido1] [nvarchar](15) NOT NULL,
	[Apellido2] [nvarchar](15) NOT NULL,
	[Genero] [bit] NOT NULL,
	[Contraseña] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Persona_1] PRIMARY KEY CLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 7/7/2019 1:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[NumUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Correo] [nvarchar](30) NOT NULL,
	[Contraseña] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[NumUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Persona] FOREIGN KEY([Correo])
REFERENCES [dbo].[Persona] ([Correo])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Persona]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Usuario] FOREIGN KEY([NumUsuario])
REFERENCES [dbo].[Usuario] ([NumUsuario])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Usuario]
GO
USE [master]
GO
